<header ng-init="navCtrl.refreshUser()">
  <nav class="navbar">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" href="#/home">Cam's Big Idea</a>
      </div>
      <ul class="nav navbar-right">
        <li class="kb-link"><a href="#/home"> Home </a></li>
        <li class="kb-link"><a href="#/signin"> Log in/Log Out </a></li>
        <li class="kb-link"><a href="#/search"> Find A Professional </a></li>
        <li class="kb-link" ng-show="navCtrl.userId!=='none'"><a ng-href="#/profile/{{navCtrl.userId}}"> My Profile </a></li>
        <li class="kb-link" ng-hide="navCtrl.userId!=='none'"><a href="#/signup/user"> Sign Up </a></li>
      </ul>
    </div>
  </nav>
</header>
