<form name="signup-user" ng-submit="$ctrl.signupUser($ctrl.user)">
  <label for="firstName">First Name:</label>
  <input type="text" required ng-model="$ctrl.user.firstName">
  <label for="lastName">Last Name:</label>
  <input type="text" required ng-model="$ctrl.user.lastName">
  <label for="email">Email:</label>
  <input type="email" required ng-model="$ctrl.user.email">
  <p ng-if="$ctrl.user.password !== $ctrl.user.confirmPassword">Password does not match</p>
  <label for="password">Password:</label>
  <input type="password" required ng-model="$ctrl.user.password">
  <label for="password-confirm">Confirm Password:</label>
  <input type="password" required ng-model="$ctrl.user.passwordConfirm">
  <select ng-model="$ctrl.user.industry">
    <option> Choose Your Industry: </option>
    <option ng-repeat="industry in $ctrl.industryList" value="{{industry}}"> {{industry}} </option>
  </select>
  <button class="btn btn-default" type="submit">Sign Up</button>
</form>
