<div ng-init="$ctrl.checkUser()">
  <form name="signin" ng-submit="$ctrl.signin($ctrl.user)">
    <label for="email">Email:</label>
    <input type="text" required ng-model="$ctrl.user.email">
    <p ng-if="$ctrl.wrongPassword"> Sorry, We didn't recognize your email or password, please try again </p>
    <p ng-if="$ctrl.wrongPassword"> If you do not have an account but would like to create one, click here to get started &rarr; <a href="#/signup/user"><button type="button"> Sign Up </button></a></p>
    <label for="password">Password:</label>
    <input type="password" required ng-model="$ctrl.user.password">
    <button class="btn btn-default" type="submit">Log In</button>
  </form>
</div>
