<div class="kb-profile" ng-init="profCtrl.getUser()">
  <section class="kb-prof-header">
    <button type="button" ng-if="profCtrl.ownProfile" ng-show="!profCtrl.editing" ng-click="profCtrl.editing=true"> Edit Profile </button>
    <div>
      <img src="{{profCtrl.image}}">
      <button ng-click="profCtrl.editingImage=true" ng-hide="!profCtrl.editing" ng-show="!profCtrl.editingImage"> Add/Update Image </button>
      <button ng-click="profCtrl.editingImage=false" ng-show="profCtrl.editingImage"> Cancel </button>
      <kb-image-form save="profCtrl.updateImage(image)" ng-show="profCtrl.editingImage"></kb-image-form>
    </div>
    <div class="kb-header-info">
      <h2>{{profCtrl.user.firstName}} {{profCtrl.user.lastName}}</h2>
      <h3>{{profCtrl.user.position}}</h3>
      <h4>{{profCtrl.user.companyName}}</h4>
      <h4>{{profCtrl.user.locationCity}}, {{profCtrl.user.locationState}}, {{profCtrl.user.locationCountry}}</h4>
      <h4>{{profCtrl.user.memberSince}}</h4>
    </div>
    <form ng-submit="profCtrl.updateUser()" ng-hide="!profCtrl.editing">
      <label for="firstName">First name:</label>
      <input type="text" name="firstName" ng-model="profCtrl.user.firstName">
      <label for="lastName">Last name:</label>
      <input type="text" name="lastName" ng-model="profCtrl.user.lastName">
      <label for="position">Position:</label>
      <input type="text" name="position" ng-model="profCtrl.user.position">
      <label for="company">Company</label>
      <input type="text" name="company" ng-model="profCtrl.user.companyName">
      <label for="locationCity">City:</label>
      <input type="text" name="locationCity" ng-model="profCtrl.user.locationCity">
      <label for="locationState">State/Province:</label>
      <input type="text" name="locationState" ng-model="profCtrl.user.locationState">
      <label for="locationCountry">Country:</label>
      <input type="text" name="Country" ng-model="profCtrl.user.locationCountry">
      <button type="submit" ng-hide="!profCtrl.editing">Save Profile</button>
    </form>
  </section>
  <h4>Experience</h4>
  <ul>
    <li ng-repeat="exp in profCtrl.experience">
      <ul>
        <li>{{exp.title}}</li>
        <li>{{exp.company}}</li>
        <li>From {{exp.start}} to {{exp.finish}}</li>
        <li>{{exp.description}}</li>
        <button ng-click="profCtrl.removeExperience(exp)" ng-show="profCtrl.editing">Remove Experience</button>
      </ul>
    </li>
  </ul>
  <button ng-click="profCtrl.editingExperience=true" ng-hide="!profCtrl.editing" ng-show="!profCtrl.editingExperience"> Add Experience </button>
  <button ng-show="profCtrl.editingExperience" ng-click="profCtrl.editingExperience=false"> Cancel </button>
  <kb-experience-form ng-show="profCtrl.editingExperience" save="profCtrl.addExperience(experience)"></kb-experience-form>
  <h4>Skills</h4>
  <ul>
    <li ng-repeat="skill in profCtrl.skills">
      <ul>
        <li>{{skill.content}} <button ng-click="profCtrl.removeSkill(skill)" ng-show="profCtrl.editing">x</button></li>
      </ul>
    </li>
  </ul>
  <button ng-click="profCtrl.editingSkills=true" ng-hide="!profCtrl.editing" ng-show="!profCtrl.editingSkills"> Add Skill </button>
  <button ng-show="profCtrl.editingSkills" ng-click="profCtrl.editingSkills=false"> Cancel </button>
  <kb-skill-form ng-show="profCtrl.editingSkills" save="profCtrl.addSkill(skill)"></kb-skill-form>
  <h4>Education</h4>
  <ul>
    <li ng-repeat="edu in profCtrl.education">
      <ul>
        <li>{{edu.degree}}</li>
        <li>{{edu.major}}</li>
        <li>{{edu.school}}</li>
        <li>From {{edu.start}} to {{edu.finish}}</li>
        <li>{{edu.description}}</li>
        <button ng-click="profCtrl.removeEducation(edu)" ng-show="profCtrl.editing"> Remove Education </button>
      </ul>
    </li>
  </ul>
  <button ng-click="profCtrl.editingEducation=true" ng-hide="!profCtrl.editing" ng-show="!profCtrl.editingEducation"> Add Education </button>
  <button ng-show="profCtrl.editingEducation" ng-click="profCtrl.editingEducation=false"> Cancel </button>
  <kb-education-form ng-show="profCtrl.editingEducation" save="profCtrl.addEducation(education)"></kb-education-form>
</div>
