<div class="kb-search" ng-init="searchCtrl.getAllUsers()">
  <h4>Select Industry to Find a Professional</h4>
  <form ng-if="searchCtrl.searchIndustry==='none'">
    <select ng-model="searchCtrl.searchIndustry">
      <option ng-repeat="item in searchCtrl.industryList" value={{item}}>{{item}}</option>
    </select>
  </form>
  <button class="btn btn-default" ng-if="searchCtrl.searchIndustry !== 'none'" ng-click="searchCtrl.searchIndustry='none'">Search Different Industry</button>
  <div style="overflow-x:auto;">
    <table class="kb-search" ng-if="searchCtrl.searchIndustry !== 'none'">
      <tr>
        <th> Name </th>
        <th> Position </th>
        <th> Location </th>
        <th> Skills/Area of Expertise </th>
      </tr>
      <tr ng-if="searchCtrl.searchIndustry==='Legal'" ng-repeat="user in searchCtrl.legal">
          <td><p class="kb-name"><a ng-href="#/profile/{{user._id}}"> {{user.firstName}} {{user.lastName}}</a></p></td>
          <td><p class="kb-position"> {{user.position}} </p></td>
          <td><p class="kb-location"> {{user.locationCity}}, {{user.locationState}}, {{user.locationCountry}}</p></td>
          <td>
            <ul class="kb-skill">
              <li ng-repeat="skill in user.skills"> {{skill.content}} </li>
            </ul>
          </td>
      </tr>
      <tr ng-if="searchCtrl.searchIndustry==='Software'" ng-repeat="user in searchCtrl.software">
          <td><p class="kb-name"><a ng-href="#/profile/{{user._id}}">{{user.firstName}} {{user.lastName}}</a></p></td>
          <td><p class="kb-position"> {{user.position}} </p></td>
          <td><p class="kb-location"> {{user.locationCity}}, {{user.locationState}}, {{user.locationCountry}}</p></td>
          <td>
            <ul class="kb-skill">
              <li ng-repeat="skill in user.skills"> {{skill.content}} </li>
            </ul>
          </td>
      </tr>
    </table>
  </div>
</div>
