<div ng-init="searchCtrl.getAllUsers()">
  <h2>Select Industry to Find a Professional</h2>
  <form ng-if="searchCtrl.searchIndustry==='none'">
    <select ng-model="searchCtrl.searchIndustry">
      <option ng-repeat="item in searchCtrl.industryList" value={{item}}>{{item}}</option>
    </select>
  </form>
  <button ng-if="searchCtrl.searchIndustry !== 'none'" ng-click="searchCtrl.searchIndustry='none'">Search Different Industry</button>
  <table>
    <tr>
      <th> </th>
      <th> Name </th>
      <th> Position </th>
      <th> Location </th>
      <th> Skills/Area of Expertise </th>
    </tr>
    <tr ng-if="searchCtrl.searchIndustry==='Legal'" ng-repeat="user in searchCtrl.legal">
      <td><img src="{{user.thumbnail}}"></td>
      <td>{{user.firstName}} {{user.lastName}}</td>
      <td> {{user.position}} </td>
      <td> {{user.locationCity}}, {{user.locationState}}, {{user.locationCountry}}</td>
      <td>
        <ul>
          <li ng-repeat="skill in user.skills"> {{skill.content}} </li>
        </ul>
      </td>
    </tr>
    <tr ng-if="searchCtrl.searchIndustry==='Software'" ng-repeat="user in searchCtrl.software">
      <td><img src="{{user.thumbnail}}"></td>
      <td>{{user.firstName}} {{user.lastName}}</td>
      <td> {{user.position}} </td>
      <td> {{user.locationCity}}, {{user.locationState}}, {{user.locationCountry}}</td>
      <td>
        <ul>
          <li ng-repeat="skill in user.skills"> {{skill.content}} </li>
        </ul>
      </td>
    </tr>
  </table>
</div>
