<div class="kb-search" ng-init="searchCtrl.getAllUsers()">
  <section ng-if="searchCtrl.searchIndustry==='none'" class="kb-border">
    <h5>Select Industry to Find a Professional</h5>
    <form>
      <select ng-model="searchCtrl.searchIndustry" ng-options="option.value as option.name for option in searchCtrl.industryList">
      </select>
    </form>
  </section>
  <button class="btn kb-btn" ng-if="searchCtrl.searchIndustry !== 'none'" ng-click="searchCtrl.searchIndustry='none'">Search Different Industry</button>
  <ul ng-if="searchCtrl.searchIndustry=='Legal'" class="kb-search-result kb-border">
    <li class="kb-search-row">
      <ul class="kb-search-header">
        <li class="kb-search-name"><b> Name </b></li>
        <li class="kb-search-position"><b> Position </b></li>
        <li class="kb-search-location"><b> Location </b></li>
        <li class="kb-search-skills"><b> Skills </b></li>
      </ul>
    </li>
    <li ng-repeat="user in searchCtrl.legal" class="kb-search-row">
      <ul class="kb-search-group">
        <li class="kb-search-name"><a ng-href="#/profile/{{user._id}}"> {{user.firstName}} {{user.lastName}} </a></li>
        <li class="kb-search-position"> {{user.position}} </li>
        <li class="kb-search-location"> {{user.locationCity}}, {{user.locationState}}, {{user.locationCountry}} </li>
        <li class="kb-search-skills">
          <ul>
            <li ng-repeat="skill in user.skills" class="kb-skill">
              <p> {{skill.content}} </p>
            </li>
          </ul>
        </li>
      </ul>
    </li>
  </ul>
  <ul ng-if="searchCtrl.searchIndustry=='Software'" class="kb-search-result kb-border">
    <li class="kb-search-row">
      <ul class="kb-search-header">
        <li class="kb-search-name"><b> Name </b></li>
        <li class="kb-search-position"><b> Position </b></li>
        <li class="kb-search-location"><b> Location </b></li>
        <li class="kb-search-skills"><b> Skills </b></li>
      </ul>
    </li>
    <li ng-repeat="user in searchCtrl.software" class="kb-search-row">
      <ul class="kb-search-group">
        <li class="kb-search-name"><a ng-href="#/profile/{{user._id}}"> {{user.firstName}} {{user.lastName}} </a></li>
        <li class="kb-search-position"> {{user.position}} </li>
        <li class="kb-search-location"> {{user.locationCity}}, {{user.locationState}}, {{user.locationCountry}} </li>
        <li class="kb-search-skills">
          <ul>
            <li ng-repeat="skill in user.skills" class="kb-skill">
              <p> {{skill.content}} </p>
            </li>
          </ul>
        </li>
      </ul>
    </li>
  </ul>
</div>
